
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>change password</title>
  
</head>
<body>
    <main class="formPage my-xl">
        <div class= "content-box">
            <div class="formWrapper">
                
{% if validlink %}
	<form class="form" method="POST" action="">
	{% csrf_token %}
    {{form.as_p}}
      <button type="submit">Change my password</button>
     
    </form>
{% else %}
    <p>The validation link is not valid!</p>
{% endif %}
    
  </div>
</body>



	
